@import "tailwindcss";
@import './fonts.css';

@theme {
  --font-display: "Montserrat", "sans-serif";
  --color-light: #fcd986;
  --color-accent: #d4b072;
}

/* ----------- custom css ----------- */

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(252, 217, 134);
  border: rgb(212, 176, 114) solid 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(242, 207, 124);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* selection */
::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgb(0, 0, 0);
}

::selection {
  color: white;
  background: rgb(0, 0, 0);
}
